<h1>Personajes</h1>
    <ul *ngFor="let character of CharacterList;
     let i = index; let isLast = last; let isFirst = first; let isEven = even;"
      class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"
      [ngClass]="{'list-group-item-primary' : isEven}">
        <div>
          {{i+1}}- <strong>Name:</strong> {{character.name}} -
          <strong>Power:</strong> {{character.power}}
        </div>
        <button (click)="eliminarById(character.id)" class="btn btn-danger">X</button>
      </li>
    </ul>
